.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 50%;
    background-color: rgb(34, 45, 45);
    position: absolute;
    left: 0;
}

.game_text {
    font-size: 35px;
}

.game_button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}