.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-left: 20%;
    background-color: rgb(34, 45, 45);
    position: absolute;
}

.game_text {
    font-size: 25px;
    margin-top: 0px;
}

.game_button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}