.game {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(34, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game_text {
    font-size: 35px;
}

.game_button {
    margin-top: 20px;
}