.header {
    background-color: rgba(251, 79, 0, 0.7);
    width: 100%;
    height: 45px;
    position: absolute;
}

.header_buttons {
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.header_info {
    margin-right: 40px;
    margin-left: 35px;
    margin-bottom: 10px;
    padding-right: 40px;
    font-size: 17px;
    cursor: pointer;
}
.dropdown-container {
    position: relative;
  }

