.popUp {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 35px;
  border-radius: 5%;
  background-color: rgb(34, 45, 45);
  transition: 0.5s;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(251, 79, 0, 0.7);
}

.close_btn{
    align-self: flex-end;
    background-color: rgb(34, 45, 45);
    color: white;
    border: 1.5px solid rgba(251, 79, 0);
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.buttonContainer{
  font-size: 10px;
}

.popUp img {
    width: 40%;
}

.popUp p {
    font-size: 23px;
    color: rgb(253, 253, 253);
}

.secondButton, .optionalButton {
  margin-left: 20px;
}
