body {
  background-color: rgb(34, 45, 45);
  color: rgb(255, 255, 255);
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

.auth_form {
  width: 30%;
  height: 400px;
  margin: 0 auto;
  justify-content: flex-start;
  border: 2px solid rgba(251, 79, 0);
  border-radius: 10px;
  align-items: flex-start; 
  justify-content: center;
  padding-left: 5px;
  padding-top: 10px;
  background-color: rgba(251, 79, 0, 0.1);
}

.form_button {
  margin-top: 10%;
  margin-left: 2%;
}

.auth_fields {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 2%;
  width: 95%;
  height: 30px;
  margin-bottom: 10px;
}